<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Openbox SF-5 settings editor</title>
<link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.css">

</head>
<body>
	<div class="container">
		<h1>Openbox SF-5 settings editor</h1>
		<table  class="table">
		<tr>
			<td>
		
			<h3>Lines of currently edited setting</h3>
			<table  class="table" class="setting-edit-conversionlines">
				<thead>
					<tr>
					<th>Action</th>
					<th>Line #</th>
					<th>Transponder</th>
					<th>Sat idx</th>
					<th>Tp idx</th>
					<th>Intersection line</th>
					<th>Note</th>
					<th style="display:none">Setting</th>
					<th style="display:none">ID</th>
					</tr>
				</thead>
			<tbody class="cl-list-edit"></tbody>
			</table>
			</td>
			<td>
			<!-- Settings list dropdown. -->
			<div class="settings-dropdown">
			
			</div>
			<h3>Lines of the selected setting</h3>
			<p>Press 'Use' button next to line shown to add it to currently edited setting.
			<table  class="table" class="setting-dropdown-conversionlines">
				<thead>
					<tr>
					<th>Action</th>
					<th>Line #</th>
					<th>Transponder</th>
					<th>Sat idx</th>
					<th>Tp idx</th>
					<th>Intersection line</th>
					<th>Note</th>
					<th style="display:none">Setting</th>
					<th style="display:none">ID</th>
					</tr>
				</thead>
				<tbody class="cl-list-selection"></tbody>
				
			</table>

			</td>
			</tr>
			<tr>
			<td>
			<h3 class="">Table of settings</h3>
			<p>Work with Openbox SF-5 settings
			</td>
			<td>
			<h3 class="">Table of transponders</h3>
			<p>Press 'Add' button to add transponder to setting lines.
						<div class="satellites-dropdown">
			
			</div>
			</td>
			</tr>
<!-- 			<tr></tr> -->
			<tr>
			<td>
			
			<table  class="table"> 
			<thead>
            	<tr>
            	<th>ID</th>
            	<th>Name</th>
            	<th>Last update date</th>
            	<th>Action</th>
				</tr>
				<tr>
				<td><input type="text" readonly class="form-control id-input"></td>
				<td><input class="form-control name-input"></td>
				<td></td>
				<td><button class="btn btn-primary add-setting">Add</button></td>
				</tr>
            </thead>
            <tbody class="settings-list"></tbody>
             
			</table>
			</td>
<!-- 			</tr>

			<tr> -->
<!-- 			<td>
			Empty cell
			</td> -->
			<td>
			<button class="btn btn-primary select-transponder" style="display:none">Select</button>

			<table  class="table">
        	<thead>
            <tr>
            <th class="transponder-selection">Select</th>
            <th>Frequency</th>
            <th>Speed</th>
            <th>Pol.</th>
            <th>FEC</th>
            <th>Carrier</th>
            <th>DVB ver.</th>
            <th>DVB range</th>
            <th>Satellite</th>
            <th>Id</th>
            </tr>
            </thead>
            <tbody class="transponders-list">
                            
            </tbody>
         	</table>
         	</td>
         	</tr>
         </table>
	</div>

<!-- 	<td><span class="selection checkbox-inline"><input id="test" type="checkbox" name="selection" value="selection"></span></td> -->
	<!-- <td><button class="btn btn-primary use-transponder">Use</button></td>   -->
	<!-- <td><span class="checkbox-inline"><input id="<%= id %>" type="checkbox" name="selection" value="<%= selection %>" class="transponder-selection-checkbox"></span></td>  -->
	<script type="text/template" class="transponder-Body-tmpl">
		<td><button class="btn btn-primary use-transponder">Add</button></td>
        <td><span class="frequency"><%= frequency %></span></td>
		<td><span class="speed"><%= speed %></span></td>
		<td><span class="polarization"><%= polarization %></span></td>
		<td><span class="FEC"><%= FEC %></span></td>
		<td><span class="carrier"><%= carrier %></span></td>
		<td><span class="versionOfTheDVB"><%= versionOfTheDVB %></span></td>
		<td><span class="rangeOfDVB"><%= rangeOfDVB %></span></td>
		<td><span class="satellite"><%= satellite.name %></span></td>
        <td><span class="id"><%= id %></span></td>
	</script>

    
		 <!-- http://stackoverflow.com/questions/9154628/rendering-backbone-js-collection-as-a-select-list -->
	<script type="text/template" class="setting-select-tmpl">
		<select id="setting-selector" class="setting-selector">
		<option value="0">Show lines of selected setting</option>
		<% _(settings).each(function(t) { %>
    		<option value="<%= t.id %>"><%= t.name %></option> 
		<% }); %>
		</select>
	</script>	

 
	<script type="text/template" class="satellite-select-tmpl">
		<select id="satellite-selector" class="satellite-selector">
		<option value="0">Filter by satellite</option>
	<% _(satellites).each(function(t) { %>
    	<option value="<%= t.id %>"><%= t.name %></option> 
	<% }); %>
		</select>
	</script>

	
	<!-- <option value="volvo">Volvo</option> -->
	<script type="text/template" class="satellite-option-tmpl">
		<option value="<%= id %>"><%= name %></option>
	</script>
	
	<script type="text/template" class="settings-list-template">
		<td><span class="id"><%= id %></span></td>
		<td><span class="name"><%= name %></span></td>
		<td><span class="theLastEntry"><%= theLastEntry %></span></td>
		<td><button class="btn btn-warning edit-setting">Edit</button> <button class="btn btn-danger delete-setting">Delete</button><button class="btn btn-success update-setting" style="display:none">Update</button> <button class="btn btn-danger cancel" style="display:none">Cancel</button></td>
	</script>
	
<!-- 			<% if (selection != true) { %>
				style="display:none"
			<% } %> -->
			
<!-- 			<% if (selection == true) { %>
				style="display:none"
			<% } %> -->
	<script type="text/template" class="conversionline-template">
		
		<td>
		<div class="panel-footer row"><!-- panel-footer -->
		<div class="col-xs-6 text-left">
		<div class="previous">

		<button class="btn btn-primary btn-sm use-cl" 
			<% if (selection != true) { %>
				style="display:none"
			<% } %>
		>Use</button> 

		<button class="btn btn-danger btn-sm delete-cline edit-table"
 			<% if (selection == true) { %>
				style="display:none"
			<% } %>
		
		>Delete</button> 
		<button class="btn btn-warning btn-sm edit-scline"
 			<% if (selection == true) { %>
				style="display:none"
			<% } %>

		>Edit</button>
		<button class="btn btn-success btn-sm  update-scline" style="display:none"
 			<% if (selection == true) { %>
				style="display:none"
			<% } %>

		>OK</button>
		<button class="btn btn-danger btn-sm scline-cancel"
				style="display:none"
		>Cancel</button>

		</div>
		</div>
		</div>
		</td>
		<td><span class="lineNumber"><%= lineNumber %></span></td>
		<td><span class="transponder"><%= (transponder.frequency == undefined) ? frequency : transponder.frequency %></span></td>
		<td><span class="satindex"><%= satindex %></span></td>
		<td><span class="tpindex"><%= tpindex %></span></td>
		<td><span class="theLineOfIntersection"><%= theLineOfIntersection %></span></td>
		<td><span class="note"><%= note %></span></td>
		<td><span class="parent_id" style="display:none"><%= parent_id %></span></td>
		<td><span class="id" style="display:none"><%= id %></span></td>
	</script>
	
	<script src="js/libs/jquery/dist/jquery.js"></script>
	<script src="js/libs/underscore/underscore.js"></script>
	<script src="js/libs/backbone/backbone.js"></script>
	<script src="js/app.js"></script>
</body>
</html>