<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Openbox SF-5 settings editor</title>
<link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.css">

</head>
<body>
	<div class="container">
		<table>
		<tr>
		<td>
		<h1>Openbox SF-5 settings editor</h1>
		</td>
		<td>
		<div style="vertical-align: bottom">
		<p class="current-user-name"></p>
		</div>
		</td>
		<td>
		<a  style="horizontal-align:right" class="panel-footer" href="/logout">Logout</a>
		</td>
		</tr>
		</table>
		
		<table  class="table">
		<tr>
			<td>
			<div class="settings-caption">
			
			</div>
			<table>
			<tr>
			<td colspan="2">
			<p>Press 'Edit' button in Table of settings to show lines of setting.
			</td>
			</tr>
			<tr>
			<td>
			<button class="btn btn-warning btn-sm calculate-intersection">Calculate intersection</button>
			</td>
			<td>
			<button class="btn btn-danger btn-sm delete-selected-clines">Delete selected</button>
			</td>
			</tr>
			</table> 
			<table  class="table" class="setting-edit-conversionlines">
				<thead>
					<tr>
					<th class="table-bordered">Action</th>
					<th class="table-bordered">Line #</th>
					<th class="table-bordered">Transponder</th>
					<th class="table-bordered">Sat idx</th>
					<th class="table-bordered">Tp idx</th>
					<th class="table-bordered">Intersection line</th>
					<th class="table-bordered">Sat.</th>
					<th class="table-bordered">Note</th>
					<th style="display:none">Setting</th>
					<th style="display:none">ID</th>
					</tr>
				</thead>
			<tbody class="cl-list-edit"></tbody>
			</table>
			</td>
			<td>
			<!-- Settings list dropdown. -->
			<div class="settings-dropdown">
			
			</div>
			<h3>Lines of the selected setting</h3>
			<p>Press 'Select' button next to line shown to add it to currently edited setting.
			<button class="btn btn-primary select-clines">Select</button>
			<table  class="table" class="setting-dropdown-conversionlines">
				<thead>
					<tr>
					<th class="table-bordered">Action</th>
					<th class="table-bordered">Line #</th>
					<th class="table-bordered">Transponder</th>
					<th class="table-bordered">Sat idx</th>
					<th class="table-bordered">Tp idx</th>
					<th class="table-bordered">Intersection line</th>
					<th class="table-bordered">Sat.</th>
					<th class="table-bordered">Note</th>
					<th style="display:none">Setting</th>
					<th style="display:none">ID</th>
					</tr>
				</thead>
				<tbody class="cl-list-selection"></tbody>
				
			</table>

			</td>
			</tr>
			<tr>
			<td style="vertical-align:bottom">
			<form enctype="multipart/form-data" action="/jaxrs/transponders/" method="post">
				<table>
				<tr>
				<td colspan="2">
			    <label>
			      Upload .ini file with transponders. If success, message 'true' will be shown at next page.
			      
			    </label>
			    </td>
			    </tr>
			    <tr>
			    <td><input name='file' type='file' /></td>
			    <td style="horizontal-align:left">
			    <input type="submit" value="Upload">
			    </td>
			    </tr>
			    </table>
			</form>
			
			<h3 class="">Table of settings</h3>
			</td>
			<td>
			<h3 class="">Table of transponders</h3>
			<table>
			<tr>
			<td>
			<p>Press 'Select' button to add selected transponders to setting lines.
			</td>
			<td>
			<button class="btn btn-primary select-transponder">Select</button>
			</td>
			</tr>
			</table>
			<!-- action="/jaxrs/transponders/"   -->

			
			<div class="satellites-dropdown">
			
			</div>
			</td>
			</tr>
<!-- 			<tr></tr> -->
			<tr>
			<td>
			
			<table  class="table"> 
			<thead>
            	<tr>
            	<th>ID</th>
            	<th>Name</th>
            	<th>Last update date</th>
            	<th>Action</th>
				</tr>
				<tr>
				<td><input type="text" readonly class="form-control id-input"></td>
				<td><input class="form-control name-input"></td>
				<td></td>
				<td><button class="btn btn-primary add-setting">Add</button></td>
				</tr>
            </thead>
            <tbody class="settings-list"></tbody>
             
			</table>
			</td>
<!-- 			</tr>

			<tr> -->
<!-- 			<td>
			Empty cell
			</td> -->
			<td>
			<button class="btn btn-primary select-transponder" style="display:none">Select</button>

			<table  class="table">
        	<thead>
            <tr>
            <th class="transponder-selection">Select</th>
            <th>Frequency</th>
            <th>Speed</th>
            <th>Pol.</th>
            <th>FEC</th>
            <th>Carrier</th>
            <th>DVB ver.</th>
            <th>DVB range</th>
            <th>Satellite</th>
            <th>Id</th>
            </tr>
            </thead>
            <tbody class="transponders-list">
                            
            </tbody>
         	</table>
         	</td>
         	</tr>
         </table>
	</div>

<!-- 	<td><span class="selection checkbox-inline"><input id="test" type="checkbox" name="selection" value="selection"></span></td> -->
	<!-- <td><button class="btn btn-primary use-transponder">Use</button></td>   -->
	<!-- <td><span class="checkbox-inline"><input id="<%= id %>" type="checkbox" name="selection" value="<%= selection %>" class="transponder-selection-checkbox"></span></td>  -->
	<script type="text/template" class="transponder-Body-tmpl">
		<td><span><input type="checkbox" name="selection" class="transponder-selection-checkbox" style="vertical-align:center"></span></td>
        <td><span class="frequency"><%= frequency %></span></td>
		<td><span class="speed"><%= speed %></span></td>
		<td><span class="polarization"><%= polarization %></span></td>
		<td><span class="FEC"><%= FEC %></span></td>
		<td><span class="carrier"><%= carrier %></span></td>
		<td><span class="versionOfTheDVB"><%= versionOfTheDVB %></span></td>
		<td><span class="rangeOfDVB"><%= rangeOfDVB %></span></td>
		<td><span class="satellite"><%= satellite.name %></span></td>
        <td><span class="id"><%= id %></span></td>
	</script>

    
		 <!-- http://stackoverflow.com/questions/9154628/rendering-backbone-js-collection-as-a-select-list -->
	<script type="text/template" class="setting-select-tmpl">
		<select id="setting-selector" class="setting-selector">
		<option value="0">Show lines of selected setting</option>
		<% _(settings).each(function(t) { %>
    		<option value="<%= t.id %>"><%= t.name %></option> 
		<% }); %>
		</select>
	</script>	

 
	<script type="text/template" class="satellite-select-tmpl">
		<select id="satellite-selector" class="satellite-selector">
		<option value="0">Filter by satellite</option>
	<% _(satellites).each(function(t) { %>
    	<option value="<%= t.id %>"><%= t.name %></option> 
	<% }); %>
		</select>
	</script>

	
	<!-- <option value="volvo">Volvo</option> -->
	<script type="text/template" class="satellite-option-tmpl">
		<option value="<%= id %>"><%= name %></option>
	</script>
	
	<script type="text/template" class="settings-list-template">
		<td><span class="id"><%= id %></span></td>
		<td><span class="name"><%= name %></span></td>
		<td><span class="theLastEntry"><%= theLastEntry %></span></td>
		<td>
		<table>
		<tr>
		<td>
		<button class="btn btn-warning edit-setting">Edit</button>
		</td>
		<td>
		<button id="delete<%= id %>" class="btn btn-danger delete-setting">Delete</button>
		</td>
		<td>
		<button class="btn btn-success update-setting" style="display:none">Update</button>
		</td>
		<td>
 		<button class="btn btn-danger cancel" style="display:none">Cancel</button>
		</td>
		<td>
		<a id="exportsetting<%= id %>" href="/jaxrs/usersettings/<%= id %>/sf5">Export</a>
		</td>
		<td>
		<a id="printsetting<%= id %>" href="/print?id=<%= id %>">Print view</a>
		</td>
		</tr>
		</table>
		</td>
	</script>
	
<!-- 			<% if (selection != true) { %>
				style="display:none"
			<% } %> -->
			
<!-- 			<% if (selection == true) { %>
				style="display:none"
			<% } %> -->
<!-- 			<button class="btn btn-primary btn-sm use-cl" 
			<% if (selection != true) { %>
				style="display:none"
			<% } %>
		>Add</button>  -->
		
<!-- 		<td>	
		<button class="btn btn-danger btn-sm delete-cline edit-table"
 			<% if (selection == true) { %>
				style="display:none"
			<% } %>
		
		>Delete</button>
		</td> -->
		
<!-- 				<button class="btn btn-primary btn-sm print-view"
			<% if (selection == true) { %>
				style="display:none"
			<% } %>
		>Print view</button> -->
		
	<script type="text/template" class="conversionline-template">
		
		<td>

		<div class="col-xs-6 text-left">

		<table>
		<tr>
		<td>
		<td><span><input type="checkbox" name="selection"
 
			<% if (selection == true) { %>	
			class="cline-selection-checkbox" 
			<% } %>

			<% if (selection != true) { %>
			class="edit-cline-selection-checkbox"
			<% } %>
		style="vertical-align:center"></span></td>

		</td>

		<td> 
		<button class="btn btn-warning btn-sm edit-scline"
 			<% if (selection == true) { %>
				style="display:none"
			<% } %>

		>Edit</button>
		</td>
		<td>
		<button class="btn btn-success btn-sm  update-scline" style="display:none"
 			<% if (selection == true) { %>
				style="display:none"
			<% } %>

		>OK</button>
		</td>
		<td>
		<button class="btn btn-danger btn-sm scline-cancel"
				style="display:none"
		>Cancel</button>
		</td>
		<td>
		<button class="btn btn-primary btn-sm move-up"
			<% if (selection == true) { %>
				style="display:none"
			<% } %>
		>Up</button>
		</td>
		<td>
		<button class="btn btn-primary btn-sm move-down"
			<% if (selection == true) { %>
				style="display:none"
			<% } %>
		>Down</button>
		</td>

		</tr>
		</table>
		</div>

		</td>
		<td><span class="lineNumber"><%= lineNumber %></span></td>
		<td><span class="transponder"><%= (transponder.frequency == undefined) ? frequency : transponder.frequency %></span></td>
		<td><span class="satindex"><%= satindex %></span></td>
		<td><span class="tpindex"><%= tpindex %></span></td>
		<td><span class="theLineOfIntersection"><%= theLineOfIntersection %></span></td>
		<td><span class="satellite"><%= (transponder.satellite == undefined || transponder.satellite.name == undefined) ? satellitename : transponder.satellite.name %></span></td>
		<td><span class="note"><%= note %></span></td>
		<td><span class="parent_id" style="display:none"><%= parent_id %></span></td>
		<td><span class="id" style="display:none"><%= id %></span></td>
	</script>
	
	<script type="text/template" class="setting-caption-template">
		<h3>Lines of currently edited setting: <%= (name == undefined) ? "new setting" : name %> </h3>
	</script>
	
	<script src="js/libs/jquery/dist/jquery.js"></script>
	<script src="js/libs/underscore/underscore.js"></script>
	<script src="js/libs/backbone/backbone.js"></script>
	<script src="js/app.js"></script>
</body>
</html>